@model Worker

<div class="container">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.ID</dd>

        <dt>Фамилия</dt>
        <dd>@Model.Surname</dd>

        <dt>Имя</dt>
        <dd>@Model.Name</dd>

        <dt>Отчество</dt>
        <dd>@Model.Patronymic</dd>

        <dt>Возраст</dt>
        <dd>@Model.Age</dd>
    </dl>

    <hr />
    <br />
    <a asp-action="Delete" asp-route-id="@Model.ID">
        <i class=" btn btn-danger">Удалить</i>
    </a>
    <a asp-action="Edit" asp-route-id="@Model.ID">
        <i class="btn btn-primary">Редактировать</i>
    </a>
    <a asp-action="Index" class="btn btn-primary">К списку</a>

</div>
   